body {
    font-family: 'Monospace';
    text-align: center;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
  }

.game-container{
    border: 2px solid red;
    background-color: lightblue;
}

.game-title{
    color: deepskyblue;
}

.marcador{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 25px;
    color: darkblue;
    font-size: 24px;
}

.options-container{
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
}

.option{
    background-color: #4a90e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.option:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

.res{
    font-size: 24px; 
}