/* 
body {
  background-color: #2c2c2c;
  color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #111;
}

.score-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

button{
    background-color: #197fecec;
    color: white;
    border: none;
    padding: 12px 20px; 
    border-radius: 10px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
button:hover {
    transform: scale(1.1);
    background-color:rgb(15, 212, 8) ;
  }

.result{
    font-size: 1.8rem; 
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 1px 5px 5px rgb(4 177 250);
}

.winner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .winner .text {
    background: #111;
    height: 300px;
    width: 320px;
    border: 2px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
   .winner .win {
    margin: 0 auto;
    border-radius: 10px ;
    font-weight: 600;
    outline-width: 2px;
    outline-style: solid;
    outline-color: #197fec86 ;
  }
  
  .win:focus{
  outline-color: rgb(4, 242, 250) ;
} */
